<ion-popover-view>
    <ion-content>
        <div class="list" ng-click="popover.hide()">
            <a class="item item-icon-left" popover-close ng-click="import()" ng-controller="ImportCtrl" target="_blank">
                <i class="icon ion-android-download"></i>
                Import File (GPX, KML, WMS)
            </a>
            <a class="item item-icon-left" ng-click="export()" target="_blank">
                <i class="icon ion-android-upload"></i>
                Export
            </a>
        </div>
    </ion-content>
</ion-popover-view>