<ion-view title="Form">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic" rel="stylesheet">
    <ion-content>
        <div class="main" ng-controller="PickerCtrl">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="text-center">
                            <div class="heading-headline">
                                Angular Google Picker
                            </div>
                            <div>
                                <a href="javascript:;" lk-google-picker on-picked="onPicked(docs)" on-loaded="onLoaded()" on-cancel="onCancel()" class="btn btn-2 btn-2c btn-blue">
                                    <i class="fa fa-inbox"></i>
                                    <span>Pick files</span>
                                </a>
                            </div>
                        </div>
                        <div class="row dashed-border" ng-switch="files.length > 0">
                            <div class="text-center" ng-switch-when="false">
                                <div class="none">No files selected yet</div>
                            </div>
                            <div ng-switch-when="true">
                                <div class="col-sm-4 item item-test" ng-repeat="file in files">
                                    <a href="{{ file.url }}" target="_blank">
                                        <div class="icon">
                                            <div class="document">
                                                <span class="ng-binding">
											{{ file.name | getExtension }}
										</span>
                                            </div>
                                        </div>
                                        <span>{{ file.name | limitTo:20 }}</span><span ng-if="file.name.length >=20">...</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>