<ion-view title="Import GIS data">

  <ion-content>
    <div class="list">
            
	    <div class="item item-divider"> 
	      Select your file type
	    </div>
	    
	    <ion-radio name="type">
	      GPX
	    </ion-radio>
	    <ion-radio name="type">
	      KML
	    </ion-radio>
	    <ion-radio name="type">
	      GeoJSON
	    </ion-radio>

	    <div class="item item-divider"> 
	      Source
	    </div>
	    
	    <ion-radio name="source">
	      Google Drive
	    </ion-radio>
	    <ion-radio name="source">
	      Device
	    </ion-radio>
	    
	    <button class="button button-block button-positive">
	      Submit
	    </button>
	  </div>
  </ion-content>
</ion-view>