<ion-view title="Map">
<ion-nav-bar class="bar-dark"></ion-nav-bar>
	<ion-nav-buttons side="left">
		<button ng-click="vm.popover.show($event)" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button ng-click="vm.recordMode()" class="button button-icon icon ion-ionic"></button>
		<button ng-click="vm.locate()" class="button button-icon icon ion-pinpoint"></button>
		<button class="button button-icon icon ion-document-text" ui-sref="form"></button>
	</ion-nav-buttons>
	</ion-content>
	<ion-content data-tap-disabled="true">
	<div id="map" center="center" markers="markers" style="min-height:100%;min-width:100%;"></div>	
</ion-view>