<ion-popover-view>
    <ion-content>
        <div class="list" ng-click="vm.popover.hide()">
            <a class="item item-icon-left" popover-close ng-click="vm.importPopup()" target="_blank">
                <i class="icon ion-android-download"></i>
                Import File (GPX, KML, WMS)
            </a>
            <a class="item item-icon-left" ng-click="export()" target="_blank">
                <i class="icon ion-android-upload"></i>
                Export
            </a>
            <a class="item item-icon-left" ng-click="vm.cteco('openSpace0')" target="_blank">
                <i class="icon ion-plus-circled"></i>
                1997 Municipal and Private Open Space
            </a>
        </div>
    </ion-content>
</ion-popover-view>