<ion-view title="Track Information">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                Name
            </div>
            <div class="item item-text-wrap" ng-show="vm.currentTrack.name">
                {{vm.currentTrack.name}}
            </div>
            <div class="item item-text-wrap" ng-show="!vm.currentTrack.name">
                No track name
            </div>
            <div class="item item-divider">
                Description
            </div>
            <div class="item item-text-wrap" ng-show="vm.currentTrack.metadata.desc">
                {{vm.currentTrack.metadata.desc}}
            </div>
            <div class="item item-text-wrap" ng-show="!vm.currentTrack.metadata.desc">
                No description
            </div>
            <div class="item item-divider">
                Author
            </div>
            <div class="item item-text-wrap" ng-show="vm.currentTrack.metadata.author">
                {{vm.currentTrack.metadata.author}}
            </div>
            <div class="item item-text-wrap" ng-show="!vm.currentTrack.metadata.author">
                No author
            </div>
            <div class="item item-divider">
                Creation Date
            </div>
            <div class="item item-text-wrap">
                {{vm.currentTrack.metadata.date}} </div>
            <div class="row">
                <div class="col">
                    <button class="button button-block button-positive" ui-sref="app.edit_track">
                Edit
            </button>
                </div>
                <div class="col">
                    <button class="button button-block button-positive" ng-click="vm.deleteTrack()">
                Delete
            </button>
                </div>
            </div>
            <div>
            </div>

            <button class="button button-block button-positive padding-horizontal" ng-click="vm.exportTrack()">
        Export to Google Drive
        </button>
    </ion-content>
</ion-view>