<ion-view title="Manage tracks">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                Edit, delete, or export a track
            </div>
            <ion-item ng-show="!vm.tracks.length">No tracks</ion-item>
            <ion-item ng-repeat="track in vm.tracks" ng-click="vm.sendTrack(track)" href="#/app/single_track">
                {{track.name}}
            </ion-item>
            <div class="item item-divider">
                Track settings
            </div>
            <!-- Show/hide stats, Change line thickness, Ask Dave for more -->
        </div>
    </ion-content>
</ion-view>