<ion-view title="Add WMS Layer from URL">
  <ion-content padding="true">
    <ion-list>
      <form novalidate>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Layer Name</span>
          <input type="text" placeholder="World Terrain" ng-model="data.name">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Layer URL</span>
          <input type="text" placeholder="http://server.arcgisonline.com/ArcGIS/rest/services/World_Terrain_Base/MapServer/" ng-model="data.url">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Layer Number (if applicable)</span>
          <input type="text" placeholder="5" ng-model="data.layerNum">
        </label>
        <ion-radio ng-model="data.layerType" value="dynamic" checked>Dynamic Map Layer</ion-radio> 
        <ion-radio ng-model="data.layerType" value="image">Image Map Layer</ion-radio> 
        <ion-radio ng-model="data.layerType" value="feature">Feature Layer</ion-radio>
        <div class="item item-input-inset">
          <div class="col">
            <button class="button button-block button-positive" ng-click="vm.setWMSLayer(data)">Add</button>
          </div>
          <div class="col">
            <button class="button button-block button-positive" ng-click="vm.back()">Cancel</button>
          </div>
        </div>
      </form>
    </ion-list>
  </ion-content>
</ion-view>