<ion-view title="Tracks">
  <ion-content>
    <div class="list card">
      <ion-item class="item item-divider">
        Import Track
      </ion-item>
      <div class="item item-input-inset">
        <div class="col">
          <button class="button button-block button-positive" ng-click="vm.importFromDevice()">
            <i class="icon icon-phone"></i> Device
          </button>
        </div>
        <div class="col">
          <button class="button button-block button-positive" ng-click="vm.goToDrive()">
            <i class="icon icon-google-drive"></i> Google Drive
          </button>
        </div>
        <div class="col">
          <button class="button button-block button-positive" ng-click="vm.showUrlPopup()">
            <i class="icon icon-link"></i> URL
          </button>
        </div>
      </div>
    </div>
    <div class="list card">
      <ion-item class="item-icon-left" ng-show="vm.tracks.length">
        <i class="icon ion-ios-minus-outline" ng-click="vm.showDelete = !vm.showDelete"></i>
        Click the button to show delete icons, or click a track to edit.
      </ion-item>
      <ion-list show-delete="vm.showDelete">
        <ion-item class="item item-divider">
          Tracks
        </ion-item>
        <ion-item ng-show="!vm.tracks.length">
          No tracks.
        </ion-item>
        <ion-item ng-repeat="track in vm.tracks" ng-click="vm.sendTrack(track)" href="#/app/tracks/{{track.name}}" class="item-remove-animate">
          <ion-delete-button class="ion-ios-minus-outline" ng-click="vm.sendTrackDelete(track)"></ion-delete-button>
          {{track.name}} ({{track.metadata.date}})
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>