<ion-view title="Edit WMS Layer Information">
  <ion-content padding="true">
    <ion-item class="list card">
      <form novalidate>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name</span>
          <input type="text" placeholder={{vm.currentWmsLayer.name}} ng-model="vm.input.name">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Layer Opacity: {{vm.input.opacity}}%</span>
        </label>
        <label>
          <div class="item range range-positive">
            0%<input type="range" min="0" max="100" value="vm.input.opacity" step="1" ng-model="vm.input.opacity">100%
          </div>
        </label>
        <div class="item item-input-inset">
          <div class="col">
            <button class="button button-block button-positive" ng-click="vm.updateWmsLayerData()">Update</button>
          </div>
          <div class="col">
            <button class="button button-block button-positive" ng-click="vm.back()">Cancel</button>
          </div>
        </div>
      </form>
    </ion-item>
  </ion-content>
</ion-view>