body {
  height: auto;
  min-height: 100%;
}

.pane {
    background-color: #b7b7b7;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}

.card-positive .item{
	background: #387ef5;
}

.card-calm .item{
	background: #11c1f3;
}

.card-balanced .item{
	background: #33cd5f;
}

.card-energized .item{
	background: #ffc900;
}

.card-assertive .item{
	background: #ef473a;
}

.card-royal .item{
	background: #886aea;
}

.card-dark .item{
	background: #444444;
}

@font-face {
    font-family: 'icomoon';
    src:    url('../lib/ionic/fonts/icomoon.eot?7aoxt');
    src:    url('../lib/ionic/fonts/icomoon.eot?7aoxt#iefix') format('embedded-opentype'),
        url('../lib/ionic/fonts/icomoon.ttf?7aoxt') format('truetype'),
        url('../lib/ionic/fonts/icomoon.woff?7aoxt') format('woff'),
        url('../lib/ionic/fonts/icomoon.svg?7aoxt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-file-text2:before {
    content: "\e902";
}
.icon-map:before {
    content: "\e903";
}
.icon-download:before {
    content: "\e900";
}
.icon-upload:before {
    content: "\e901";
}
.icon-google-drive:before {
    content: "\e904";
}

/*style for import popup boxes*/
.popup-import .popup
{
  /*border and bg color for import popup box*/
  border: 1px solid black;
  background-color: #b7b7b7;
}
.popup-import .popup-head
{
  background-color: #444444;
}
.popup-import .popup-title
{
  color: white;
}
.popup-import .popup-sub-title
{
  color: white;
}

.popover .item .item-divider {
  background-color: #444444;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px;
}

.platform-ios ion-popover-view.fit {
  padding-top: 10px;
  padding-bottom: 10px;
}

.item-text-center
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
}

.popover {
  height: 400px;
  width: 175px;
}
.popover-body {
  background-color: black;
}

.popover .list .item-icon-left {
  background-color: #b7b7b7;
  color: black;
}
.popover .list .icon {
  color: white;
}
.popover .list .item-divider {
  color: white;
  background-color: #444444;
}
.popover .list .item-avatar {
  color: #000000;
  background-color: #b7b7b7;
}